<div class="users-container">
  <h2>Liste des utilisateurs</h2>

  <div *ngIf="isLoading">Chargement...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <table *ngIf="!isLoading && users.length">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom d'utilisateur</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
