spring:
  application:
    name: auth-service-integration-test
  main:
    allow-bean-definition-overriding: true

jwt:
  secret: c29sZHN0YWNrLWJhY2tlbmQtYXV0aGVudGlmaWNhdGlvbi1zZXJ2aWNlLXNlY3JldC1rZXk=

redis:
  host: localhost
  port: 6379

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
