name: CI - Auth Service

on:
  push:
    paths:
      - "backend/auth-service/**"
      - "backend/common/**"
  pull_request:
    paths:
      - "backend/auth-service/**"
      - "backend/common/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "24"

      - name: Build Auth Service
        working-directory: backend
        run: ./gradlew :backend:auth-service:build
